* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f0ecd8;
  font-family: "Futura", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #ab1b11;
  font-family: "Didot", serif;
}

h5 {
  color: #ebedc3;
  font-family: "Futura", sans-serif;
}

nav {
  top: 0%;
  width: 100%;
  position: fixed;
  overflow: scroll;
  background-color: #d4b744;
}
.container {
  padding: 22px;
  margin: 0 auto;
  text-align: center;
}
.container ul li {
  list-style: none;
  margin: 0 10px;
  display: inline-block;
}
.container ul li a:hover {
  padding: 12px;
  color: #f90;
}
.container ul li a {
  margin: 8px;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.active {
  border-bottom: 2px solid #d0d7d9;
}
.container p {
  margin-bottom: 16px;
  color: #f90;
  font-weight: 700;
  font-size: 20px;
}

.item {
  width: 100%;
  padding: 130px;
  height: 350px;
  text-align: center;
  overflow: scroll;
  background-color: #f0ecd8;
  border-bottom: 3px solid #d4b744;
}

.first {
  margin-top: 100px;
}
.default {
  margin-top: 64px;
}
.col-full {
  width: 1044px;
}

.box {
  float: left;
}

/* unvisited link */
a:link {
  color: #f90;
}

/* visited link */
a:visited {
  color: #ab1b11;
}

/* mouse over link */
a:hover {
  color: #e03319;
}

/* selected link */
a:active {
  color: #ebedc3;
}

.footer {
  background-color: #d4b744;
  padding: 30px;
  text-align: right;
}
